# Auth
ACCESS_SECRET=change-me-to-a-long-random-string
REFRESH_SECRET=change-me-to-a-long-random-string
ACCESS_EXPIRY=
REFRESH_EXPIRY=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=

# Server
PORT=

# Node mailer
GMAIL_USER=
GMAIL_APP_PASSWORD=